ul.fancytree-container{
    width: 17em;
}

span.fancytree-title{
    white-space: normal;
    font-size: 14pt;
    font-family: 'Source Sans Pro', sans-serif;
}

ul.fancytree-container{
    width: 17em;
    border: none;
    position: relative;
}

span.fancytree-icon, span.fancytree-checkbox, span.fancytree-expander, span.fancytree-custom-icon {
    margin-top: 6px;
}